
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff; 
    overflow: hidden;
    font-size: 62.5%;
  }
  
  .landing-page {
    position: relative; 
    width: 100vw; 
    height: 100vh; 
    background-color: #ffffff; 
    overflow: hidden;
  }
  
  .background{
    width:88%; 
    height: 100%; 
    background-color: #0B1354; 
    border-bottom-right-radius: 700px 600px;
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 0; 
  }
  
  .text-content {
    position: relative;
    z-index: 2;
    color: white;
    left: 2rem; 
    top: 5rem; 
    text-align: left; 
  }
  
  .text-content h2 {
    font-size: 2.5rem; 
    color: #ffffff;
    font-weight: 300; 
    line-height: 1.5; 

  }
  
  .text-content h1 {
    font-size: 4rem; 
    font-weight: 700; 
    line-height: 1.2; 

  }
  .text-content h1 .chron {
    font-family: 'Kulim Park', sans-serif;
    color: #ffffff; 
  }
  
  .text-content h1 .us {
    font-family: 'Kulim Park', sans-serif;
    color: #1751E5; 
  }
  .logo_container {

    top: 10rem;
    left: 10rem
  }
  .logo {
    width:200px;
    height:auto;
  }