body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  overflow: hidden;
  font-size: 62.5%;
}

.landing-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
}

.background {
  width: 88%;
  height: 100%;
  background-color: #0b1354;
  border-bottom-right-radius: 700px 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.text-content {
  position: relative;
  z-index: 2;
  color: white;
  top: 10rem;
  left: 8rem;
  text-align: left;
  letter-spacing: 0.1rem;
  line-height: 1;
}

.text-content h2 {
  font-size: 2.5rem;
  margin: 0 0 0.1rem 0;
  font-weight: 300;
}
.text-content h1 {
  margin: 0;
  line-height: 1;
}
.text-content h1 .chron {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #ffffff;
}
.text-content h1 .u {
  font-family: "Kulim Park", sans-serif;
  font-weight: 400;
  font-size: 5rem;
  color: #1751e5;
  line-height: 1;
  letter-spacing: 0.2rem;
}
.text-content h1 .s {
  font-family: "Kulim Park", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: #1751e5;
  line-height: 1;
  letter-spacing: 0.2rem;
}
.logo-container {
  position: absolute;
  top: 1.5rem;
  left: 6rem;
  z-index: 1;
}
.logo {
  width: 6.5rem;
  height: auto;
}
