@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important; /* Prevent horizontal scroll */
}

.light {
  --primary: #3f88c5;
  --secondary: #ffffff;
}

.dark {
  --primary: #1a1a1a;
  --secondary: #3f5a72;
}

html {
  transition: background-color background-image 0.3s ease, color 0.3s ease;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;

  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  transition: background-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
}

button {
  border: inherit !important;
  border-width: initial !important;
  border-style: solid !important;
}

.gsi-material-button:not(:disabled):hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
